@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ede7de;
    overflow-x: hidden;
    scroll-behavior: smooth;
    animation: grow 1s;
}

@keyframes grow {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

::selection {
    color: #ede7de !important;
    background-color: #025a4e !important;
}

@keyframes animateDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px);
    }
}
