@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ede7de;
    overflow-x: hidden;
}

.darkMode {
    background-color: #000;
}

::selection {
    color: #ede7de !important;
    background-color: #025a4e !important;
}
