@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: hsla(248, 65%, 51%, 1);
    background: linear-gradient(60deg, hsla(248, 65%, 51%, 1) 43%, hsla(81, 83%, 73%, 1) 43%);
    background: -moz-linear-gradient(60deg, hsla(248, 65%, 51%, 1) 43%, hsla(81, 83%, 73%, 1) 43%);
    background: -webkit-linear-gradient(60deg, hsla(248, 65%, 51%, 1) 43%, hsla(81, 83%, 73%, 1) 43%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4831D4", endColorstr="#CCF381", GradientType=1 );
}

::selection {
    background-color: #fcb3bf;
}

.darkMode {
    background-color: #000;
}
